<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>LojaNaOndaBackEnd</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
   <!--  FALANDO QUE É UM SERVIDOR -->
  <!--"CRIANDO O SERVLET" IGUAL COMO SE FOSSO O @WebServlet -->
  <servlet>
  <servlet-name>springmvc</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class><!--  DISPATCHER do spring  -->
  
  <init-param><!--  PARAMETRO QUE O SPRING VAI UTILIZAR QUANDO INICIALIZAR -->
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/spring-context.xml</param-value>
  </init-param>
  
  <load-on-startup>1</load-on-startup><!-- PARA STARTAR, POR QUE FICA EMBERNANDO  -->
  </servlet>
  
  
  <!--  REQUISIÇÕES QUE SÃO MANDADAS PARA O SERV -->
  <!-- MAPEANDO O SERVLET -->
  <servlet-mapping>
  
	  <servlet-name>springmvc</servlet-name>
	  <url-pattern>/</url-pattern><!--  TUDO O QUE VIER DEPOIS DA BARRA NA URL ELE VAI MAPEAR, LOCALHOST:81/.... -->
	  
  </servlet-mapping>
</web-app>